<h1>EAT DA BURGER!</h1>
<img src="./burgerimg.webp" alt="">

<div class="container">
  <div id="fe-burgers">
    {{#each burgers }}
    <li>
      {{this.burger_name}}
      <button class="devourBurger" data-id="{{this.id}}" value="{{this.burger_name}}">Devour it !</button>
    </li>
    {{/each}}
  </div>
  <form>
    <span>
      <label for="burgername"></label>
      <input type="text" name="burgername" placeholder="burger name" id="fe-burgername">
    </span>
    <button id="fe-addburger">Add Burger</button>
  </form>
  <div id="fe-devoured">
    {{#each devoured}}
    <li>
      {{this.burger_name}}
    </li>
    {{/each}}
  </div>
</div>

<script src="./burger.js"></script>